.AboutYokaBexSection{
    display: flex;
    flex-flow : column wrap;
    text-align: center;
    padding-top: 10px;
    margin-top : 10px;
        .whiteHeader{
            color: white;
            padding: 0;
            margin: 10px;
        }
        .SecondHeader{
            padding: 0;
            margin: 10px;
            color: gray;
            font-size: 17px;
        }
        .ColorGrey{
            color : grey;
            text-align: left;
            margin-right: 10px;
            padding: 10px 65px;
        }
}   