.App {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100;
    background-origin: border-box;
  height: 44.1em;
}
 .MuiTabs-flexContainer {
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    width: 15em;
    margin: 15px;
    height: 49vh;
    padding-top: 10px;
    margin-top: 5em;
    border-right:  2px solid grey;
}

.MuiTabs-scroller{
background-color: rgb(41,49,64);
margin-top: 1.2em;
margin-bottom: 0.8em;
margin-left: 0.5em;
border-bottom-left-radius:10px ;
border-top-left-radius:10px ;
}
