.displayFlex{
    display: flex;
    flex-flow: column wrap;
    background-color: #212734;
    margin-top: 10px;
    .flexrow{
        display: flex;
        flex-flow: row wrap;
    }


    .MuiInputBase-input{
        color : grey ;
        font-size: 9px;
        width:  100%;
        border: none;

        &::after{
            border-bottom : none
        }
    }
    .MuiFormControl-root{
        color: white;
        display: block;
        width: 24em;
    }
    .MuiInputBase-root{
     
        display: block;
        width: 24em;
    }
}